.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.menu-icon > .middle {
    width: 40px;
    height: 8px;
    background-color: #FFC825;
}

.menu-icon::after, .menu-icon::before {
    display: block;
    content: '';
    width: 40px;
    height: 8px;
    background-color: #FFC825;
}

@media (max-width: 1060px) {
    .menu-icon {
        display: flex;
    }
}
